body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    color: rgb(52, 165, 52);
}

#pontuacao-game{
    background-color: blue;
    align-items: center;
    margin: 5px;
    padding:30px;
    border-radius: 50%;
    }